/* line 17, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
/* line 103, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 32, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 5, ../scss/screen.scss */
body {
  height: 100%;
  width: 100%;
  font: 18px/1.5 "Franklin Gothic Book" sans-serif;
  background-color: #c2b59b; }
/* line 10, ../scss/screen.scss */
body a {
  color: #2980b9;
  text-decoration: none; }
/* line 13, ../scss/screen.scss */
body a:hover {
  text-decoration: underline; }

/* line 19, ../scss/screen.scss */
header {
  font: 25px/1.5 "CODE Light", "Lato", "Franklin Gothic Book" sans-serif;
  background-color: #323232;
  float: left;
  width: 200px;
  min-height: 40em;
  margin: 0;
  padding: 0px;
  position: fixed; }

/* line 31, ../scss/screen.scss */
nav ul {
  position: relative; }
/* line 33, ../scss/screen.scss */
nav ul li {
  padding: 1em 0; }
/* line 37, ../scss/screen.scss */
nav a {
  text-decoration: none;
  color: #c2b59b;
  display: block;
  height: auto;
  text-align: left;
  width: auto;
  padding-left: 20px; }
/* line 45, ../scss/screen.scss */
nav a:hover {
  border-left: 0.188em solid #e67e22;
  color: #e67e22; }

/* line 52, ../scss/screen.scss */
section.main {
  margin-left: 7em;
  margin-right: 2em; }
/* line 55, ../scss/screen.scss */
section.main h2 {
  padding-top: 2em;
  font-size: 28px;
  text-transform: uppercase; }
/* line 60, ../scss/screen.scss */
section.main h3 {
  font-size: 23px;
  margin-top: 0.5em; }
/* line 64, ../scss/screen.scss */
section.main h4 {
  padding-left: 2em;
  border-left: 0.188em solid #e67e22;
  font-family: "CODE Bold";
  margin-top: 2em; }
/* line 70, ../scss/screen.scss */
section.main div#description {
  margin: 3em 0;
  padding: 0.5em;
  border: 1px solid #323232;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }

/* line 78, ../scss/screen.scss */
div#icones {
  margin-bottom: 1em; }
/* line 80, ../scss/screen.scss */
div#icones .presentation {
  margin-top: 3em;
  background-color: #e67e22;
  float: left;
  width: 150px;
  padding: 20px 50px;
  margin-right: 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
/* line 88, ../scss/screen.scss */
div#icones .presentation h4 {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  margin-left: -50px; }

/* line 98, ../scss/screen.scss */
div#register {
  margin: 2em 0; }
/* line 100, ../scss/screen.scss */
div#register label, div#register .block, div#register span {
  display: block; }
/* line 103, ../scss/screen.scss */
div#register input {
  border: none;
  padding: 0.7em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 1em 0; }
/* line 109, ../scss/screen.scss */
div#register label, div#register span {
  margin-top: 1em; }
/* line 112, ../scss/screen.scss */
div#register #submit {
  margin-top: 2em;
  background-color: #e67e22;
  color: white;
  padding: 1.5em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  text-transform: uppercase; }

/* line 121, ../scss/screen.scss */
div.content {
  margin-top: 1em; }
/* line 123, ../scss/screen.scss */
div.content p {
  margin-top: 0.5em; }

/* Profil user */
/* line 129, ../scss/screen.scss */
.content-zone {
  margin: 1em 0;
  border: 0.1em solid rgba(144, 144, 144, 0.8);
  background-color: #e1d4bb; }
/* line 133, ../scss/screen.scss */
.content-zone h3 {
  margin-left: 1em; }

/* line 138, ../scss/screen.scss */
.photoProfil {
  float: left;
  margin: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333; }

/* line 145, ../scss/screen.scss */
.informations, .sous, .sous2 {
  padding: 0.7em 2em;
  border-bottom: 0.1em solid rgba(144, 144, 144, 0.8);
  position: relative; }

/* line 150, ../scss/screen.scss */
.sous, .sous2 {
  background-color: #e8e1d2;
  width: 20em;
  border: 0.1em solid rgba(144, 144, 144, 0.8);
  margin: 1em 5em; }
/* line 156, ../scss/screen.scss */
.sous span, .sous2 span {
  font-style: italic;
  color: #323232; }

/* line 161, ../scss/screen.scss */
.sous2 {
  width: auto;
  margin: 1em 1em; }
/* line 165, ../scss/screen.scss */
.sous2 p.publications {
  margin-top: 1em; }

/* line 169, ../scss/screen.scss */
.modify {
  position: absolute;
  right: 5em;
  top: -2.5em;
  padding: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  border: none;
  color: #323232;
  background-color: white;
  cursor: pointer; }
/* line 179, ../scss/screen.scss */
.modify:hover {
  background-color: rgba(144, 144, 144, 0.8);
  color: white; }

/* line 184, ../scss/screen.scss */
.add {
  background-color: #2ecc71; }

/* Cercle */
/* line 190, ../scss/screen.scss */
.photoCercle {
  width: 100%; }

/* Tuiles cercles */
/* line 196, ../scss/screen.scss */
figure {
  float: left;
  min-width: 15%;
  width: 200px;
  height: 200px; }

/* line 202, ../scss/screen.scss */
figure.tuiles {
  margin: 0;
  overflow: hidden;
  position: relative; }
/* line 206, ../scss/screen.scss */
figure.tuiles figcaption {
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(1, 1, 1, 0.5);
  color: white;
  visibility: hidden;
  -webkit-transition: margin-bottom 0.3s ease-in, color 0.5s ease-out;
  -moz-transition: margin-bottom 0.3s ease-in, color 0.5s ease-out;
  -o-transition: margin-bottom 0.3s ease-in, color 0.5s ease-out;
  transition: margin-bottom 0.3s ease-in, color 0.5s ease-out;
  text-align: center;
  font-weight: bold;
  padding-top: 5em;
  text-transform: uppercase; }

/* line 224, ../scss/screen.scss */
figure.tuiles:hover figcaption {
  visibility: visible; }

/* line 227, ../scss/screen.scss */
header:after, div#icones:after, .informations:after, .sous:after, .sous2:after, div.content-zone:after {
  content: '';
  clear: both;
  display: block; }
