/* line 17, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
/* line 103, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 32, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 5, ../scss/screen.scss */
body {
  height: 100%;
  width: 100%;
  font: 18px/1.5 "Franklin Gothic Book" sans-serif;
  background-color: #efefef; }
/* line 10, ../scss/screen.scss */
body a {
  color: #2980b9;
  text-decoration: none; }
/* line 13, ../scss/screen.scss */
body a:hover {
  text-decoration: underline; }

/* line 19, ../scss/screen.scss */
header {
  font: 22px/1.5 "Century Gothic", "Lato", "Franklin Gothic Book", sans-serif;
  text-transform: uppercase;
  background-color: #323232;
  float: left;
  width: 200px;
  min-height: 40em;
  margin: 0;
  padding: 0;
  position: fixed; }

/* line 31, ../scss/screen.scss */
nav {
  margin-top: 1em; }
/* line 33, ../scss/screen.scss */
nav ul {
  position: relative; }
/* line 35, ../scss/screen.scss */
nav ul li {
  padding: 0.8em 0; }
/* line 39, ../scss/screen.scss */
nav a {
  text-decoration: none;
  color: white;
  display: block;
  height: auto;
  text-align: left;
  width: auto;
  padding-left: 20px;
  -webkit-transition: 0.3s ease-in, color 0.5s ease-out;
  -moz-transition: 0.3s ease-in, color 0.5s ease-out;
  -o-transition: 0.3s ease-in, color 0.5s ease-out;
  transition: 0.3s ease-in, color 0.5s ease-out; }
/* line 48, ../scss/screen.scss */
nav a:hover {
  border-left: 0.3em solid #e67e22;
  color: #e67e22;
  padding-left: 1em; }

/* line 56, ../scss/screen.scss */
section.main {
  margin-left: 7em;
  margin-right: 2em; }
/* line 59, ../scss/screen.scss */
section.main h2 {
  padding-top: 2em;
  font-size: 28px;
  font-family: "Century Gothic";
  text-transform: uppercase; }
/* line 65, ../scss/screen.scss */
section.main h3 {
  font-size: 23px;
  margin-top: 0.5em; }
/* line 69, ../scss/screen.scss */
section.main h4 {
  padding-left: 0.5em;
  border-left: 0.188em solid #e67e22;
  font-family: "Century Gothic";
  text-transform: uppercase;
  margin: 1em 0 0 1em; }
/* line 76, ../scss/screen.scss */
section.main div#description {
  margin-top: 2em;
  padding: 0.5em;
  border: 1px solid #323232;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
/* line 82, ../scss/screen.scss */
section.main .icons {
  text-align: center;
  font-family: "Century Gothic";
  text-transform: uppercase;
  color: white; }

/* line 90, ../scss/screen.scss */
div#icones {
  margin: 2em 0; }
/* line 92, ../scss/screen.scss */
div#icones .presentation {
  margin-top: 2em;
  background-color: #e67e22;
  float: left;
  width: 150px;
  padding: 0 1em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
/* line 99, ../scss/screen.scss */
div#icones .presentation:nth-child(n+2) {
  margin-left: 3.68em; }
/* line 102, ../scss/screen.scss */
div#icones .presentation h4 {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  margin-left: -50px;
  border: none; }
/* line 110, ../scss/screen.scss */
div#icones .presentation img {
  margin-left: 0.7em; }

/* line 116, ../scss/screen.scss */
div#register {
  width: 30em; }
/* line 118, ../scss/screen.scss */
div#register input {
  border: none;
  padding: 0.7em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 1.5em 1em 0 0;
  box-shadow: 0px 0px 3px rgba(144, 144, 144, 0.8); }
/* line 125, ../scss/screen.scss */
div#register h4 {
  margin: 1.5em 0 0 0; }
/* line 128, ../scss/screen.scss */
div#register label, div#register span {
  margin-top: 1em; }
/* line 131, ../scss/screen.scss */
div#register .block {
  width: 25em; }
/* line 134, ../scss/screen.scss */
div#register .submit {
  margin-top: 2em;
  background-color: #e67e22;
  color: white;
  padding: 1em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  text-transform: uppercase;
  cursor: pointer;
  display: block; }
/* line 143, ../scss/screen.scss */
div#register .submit:hover {
  background-color: #f48726; }
/* line 147, ../scss/screen.scss */
div#register #stayConnect {
  display: block; }

/* line 152, ../scss/screen.scss */
div.content {
  margin-top: 1em; }
/* line 154, ../scss/screen.scss */
div.content p {
  margin-top: 0.5em; }

/* Profil user */
/* line 160, ../scss/screen.scss */
.content-zone, #suggestions {
  position: relative;
  margin: 1em 1em 1em 0;
  border: 0.1em solid rgba(144, 144, 144, 0.8);
  background-color: #efefef;
  float: left;
  width: 48%;
  min-height: 23em; }
/* line 168, ../scss/screen.scss */
.content-zone h3, #suggestions h3 {
  margin-left: 1em; }
/* line 172, ../scss/screen.scss */
.content-zone .plus, #suggestions .plus {
  text-align: right;
  position: absolute;
  left: 25.5em;
  top: 21em; }

/* line 180, ../scss/screen.scss */
.photoProfil {
  float: left;
  margin: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333; }

/* line 187, ../scss/screen.scss */
.informations, .informationsProfil, .sous, .sous2 {
  border-bottom: 0.1em solid rgba(144, 144, 144, 0.8);
  background-color: white;
  position: relative; }

/* line 193, ../scss/screen.scss */
.informationsProfil {
  padding: 0.7em 2em; }

/* line 197, ../scss/screen.scss */
.sous, .sous2 {
  width: 20em;
  border: 0.1em solid rgba(144, 144, 144, 0.8);
  margin: 1em 5em; }
/* line 202, ../scss/screen.scss */
.sous span, .sous2 span {
  font-style: italic;
  color: #323232; }

/* line 207, ../scss/screen.scss */
.sous2 {
  width: auto;
  margin: 1em 1em; }
/* line 211, ../scss/screen.scss */
.sous2 p.publications {
  margin-top: 1em; }

/* line 215, ../scss/screen.scss */
.modify {
  position: absolute;
  right: 5em;
  top: -2.5em;
  padding: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  border: none;
  color: #323232;
  background-color: white;
  cursor: pointer; }
/* line 225, ../scss/screen.scss */
.modify:hover {
  background-color: rgba(144, 144, 144, 0.8);
  color: white; }

/* line 230, ../scss/screen.scss */
.add {
  background-color: #2ecc71; }

/* Cercle */
/* line 236, ../scss/screen.scss */
.photoCercle {
  width: 100%; }

/* Tuiles cercles */
/* line 242, ../scss/screen.scss */
#suggestions {
  width: 100%; }
/* line 245, ../scss/screen.scss */
#suggestions div.tuiles {
  margin-top: 1em; }
/* line 248, ../scss/screen.scss */
#suggestions figure {
  float: left;
  min-width: 15%;
  width: 200px;
  height: 200px; }
/* line 254, ../scss/screen.scss */
#suggestions figure.tuiles {
  margin: 0;
  overflow: hidden;
  position: relative; }
/* line 258, ../scss/screen.scss */
#suggestions figure.tuiles figcaption {
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(1, 1, 1, 0.7);
  color: white;
  visibility: hidden;
  -webkit-transition: margin-bottom 0.3s ease-in, color 0.5s ease-out;
  -moz-transition: margin-bottom 0.3s ease-in, color 0.5s ease-out;
  -o-transition: margin-bottom 0.3s ease-in, color 0.5s ease-out;
  transition: margin-bottom 0.3s ease-in, color 0.5s ease-out;
  text-align: center;
  font-weight: bold;
  padding-top: 5em;
  text-transform: uppercase; }
/* line 276, ../scss/screen.scss */
#suggestions figure.tuiles:hover figcaption {
  visibility: visible; }

/* line 281, ../scss/screen.scss */
#flash_notice, #flash_error {
  padding: 0.2em 0.5em;
  border: 0.1em solid rgba(144, 144, 144, 0.8);
  position: absolute;
  top: 0.5em;
  left: 14em;
  color: green; }
/* line 288, ../scss/screen.scss */
#flash_notice:before, #flash_error:before {
  position: absolute;
  top: -0.3em;
  left: 0em; }

/* line 295, ../scss/screen.scss */
#flash_error {
  border-color: #fbbdbd;
  background-color: #ffcccc;
  color: #757575;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

/* line 304, ../scss/screen.scss */
.errors {
  border: 1px solid #fbbdbd;
  background-color: #ffcccc;
  color: #757575;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 0.2em 0.5em;
  position: absolute;
  left: 34.5em; }

/* line 314, ../scss/screen.scss */
header:after, div#icones:after, .informations:after, .informationsProfil:after, .sous:after, .sous2:after, div.content-zone:after, div#suggestions:after {
  content: '';
  clear: both;
  display: block; }
